<footer th:fragment="footer" class="bg-primary-orange shadow-inner">
    <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
            <div class="px-5 py-2"><a class="text-base text-yellow-100 hover:text-white" href="/kr">홈</a></div>
            <div class="px-5 py-2"><a class="text-base text-yellow-100 hover:text-white" href="/kr/About">회사 소개</a></div>
            <div class="px-5 py-2"><a class="text-base text-yellow-100 hover:text-white" href="/kr/HowToSendMoney">송금 방법</a></div>
            <div class="px-5 py-2"><a class="text-base text-yellow-100 hover:text-white" href="/kr/HowToRegister">등록방법</a></div>
            <div class="px-5 py-2"><a class="text-base text-yellow-100 hover:text-white" href="/kr/Branches">지점안내</a></div>
            <div class="px-5 py-2"><a class="text-base text-yellow-100 hover:text-white" href="/kr/notice">공지사항</a></div>
            <div class="px-5 py-2"><a class="text-base text-yellow-100 hover:text-white" href="/kr">고객센터</a></div>
        </nav>
        <nav class="-mx-5 my-2 mt-8 flex flex-wrap justify-center text-sm" aria-label="Footer">
            <div class="px-5 py-2"><a class="text-yellow-100 hover:text-white" href="/kr/Terms01">민원 및 분쟁 처리 </a></div>
            <div class="px-5 py-2"><a class="text-yellow-100 hover:text-white" href="/kr/Terms02">개인정보 처리방침</a></div>
            <div class="px-5 py-2"><a class="text-yellow-100 hover:text-white" href="/kr/Terms03">전자금융거래 이용약관</a></div>
            <div class="px-5 py-2"><a class="text-yellow-100 hover:text-white" href="/kr/Terms04">소액해외송금서비스 이용 약관</a></div>
            <div class="px-5 py-2"><a class="text-yellow-100 hover:text-white" href="/kr/Terms05">오픈뱅킹서비스 약관</a></div>
        </nav>
        <nav class="mx-5 my-2 mt-3 flex flex-wrap justify-center text-sm" aria-label="Footer">
            <div class="px-3 py-2">
                <a href="https://www.facebook.com/QS-REMIT-Offical-101234619188092" class="text-yellow-100 hover:text-white">
                    <svg class="w-10 h-10" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z"></path>
                    </svg>
                </a>
            </div>
            <div class="px-3 py-2">
                <a href="https://www.instagram.com/qs_remit/" class="text-yellow-100 hover:text-white">
                    <svg class="w-10 h-10" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z"></path>
                    </svg>
                </a>
            </div>
        </nav>
        <div class="-mx-5 my-2 mt-4 flex flex-wrap justify-center text-sm"><span class="bg-white inline-block py-2 px-4 rounded-md"><img src="/mosf-kr.png" class="h-16"></span></div>
        <p class="mt-4 text-center text-base text-white">&copy; 2025 N&amp;P Korea Co., Ltd. All rights reserved.</p>
    </div>
</footer>