<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/terms-layout}">
<head>
    <title>マネーローンダリングポリシー - QSREMIT</title>
</head>
<body>
<div layout:fragment="terms-content">
    <div class="relative py-16 bg-white overflow-hidden">
        <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
            <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
                <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
                    <defs>
                        <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)"></rect>
                </svg>
                <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
                    <defs>
                        <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)"></rect>
                </svg>
                <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
                    <defs>
                        <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)"></rect>
                </svg>
            </div>
        </div>
        <div class="relative px-4 sm:px-6 lg:px-8">
            <div class="text-lg max-w-prose mx-auto">
                <h1><span class="mt-2 text-3xl leading-8 font-semibold tracking-tight text-primary sm:text-4xl">マネー・ローンダリング及びテロ資金供与対策に関する基本方針</span></h1>
                <p class="mt-6 text-gray-500">
                    当社は、マネー・ローンダリングやテロ資金供与対策（以下「AML」という。）について、経営上の最重要課題の一つと位置づけております。当社では、以下のとおりAMLに関する基本方針を制定し、これに基づいた態勢整備を実行するとともに、継続的な改善に取り組んでまいります。
                </p>
                <h3 class="mt-6 text-xl text-gray-500 font-bold">1． AML態勢の整備</h3>
                <p class="mt-3 text-gray-500">
                    当社は、「犯罪による収益の移転防止に関する法律」、金融庁の「マネー・ローンダリング及びテロ資金供与対策に関するガイドライン」を踏まえ、提供するサービスがマネー・ローンダリングやテロ資金供与に利用されることを防止するため、態勢整備に努めます。
                </p>
                <h3 class="mt-6 text-xl text-gray-500 font-bold">2． 経営の関与</h3>
                <p class="mt-3 text-gray-500">当社の経営陣は、AMLを経営戦略面における重要な課題と位置づけ、この問題に主体的かつ積極的に取り組みます。</p>
                <h3 class="mt-6 text-xl text-gray-500 font-bold">3． マネー・ローンダリング及びテロ資金供与対策に係るリスクの特定、評価、低減</h3>
                <p class="mt-3 text-gray-500">当社は、「リスクベース・アプローチ」に基づき、提供するサービスにおけるリスクを検証し、特定、評価を行い、その結果に基づき、リスクを低減させる措置を講じます。</p>
                <h3 class="mt-6 text-xl text-gray-500 font-bold">4． 顧客管理体制</h3>
                <p class="mt-3 text-gray-500">
                    当社は、関係法令等に基づき、お客さまの氏名・住所・生年月日・職業・お取引目的等について確認をいたします。また、在留カードをお持ちのお客さまには在留資格および在留期限を確認いたします。適切な顧客管理を行うことで、制裁対象者や反社会的勢力を含む不適切な取引との関係の排除に努めます。
                </p>
                <h3 class="mt-6 text-xl text-gray-500 font-bold">5． 書類・記録等の保存</h3>
                <p class="mt-3 text-gray-500">当社は、AMLに関する確認書類・記録等を関係法令等に基づき適切に保存します。</p>
                <h3 class="mt-6 text-xl text-gray-500 font-bold">6． ITシステムの活用とデータ管理</h3>
                <p class="mt-3 text-gray-500">当社は、AMLの高度化や効率化のため、IT技術の活用に取り組み適切なデータ管理に努めます。</p>
                <h3 class="mt-6 text-xl text-gray-500 font-bold">7． 役職員の研修</h3>
                <p class="mt-3 text-gray-500">当社は、当社の役職員がその役割に応じたAMLにおける専門性・適合性等を有するよう、研修等を通じて知識・理解を深めることに努めます。</p>
            </div>
            <div class="w-full py-16 px-4 sm:px-6 lg:px-8 md:mt-16">
                <div class="flex items-start justify-between gap-20">
                    <div class="max-w-[350px]">
                        <h2 class="text-xl text-gray-800 sm:text-2xl">本店</h2>
                        <div class="mt-3">
                            <p class="text-lg text-gray-500">
                                〒169-0073東京都新宿区百人町2-20-2-201<br />
                                <span class="text-sm">
                                            201-2-20-2 Hyakunin-Cho, Shinjuku-Ku<br />
                                            Tokyo, Japan (169-0073)
                                        </span>
                            </p>
                        </div>
                        <div class="mt-4">
                            <div class="flex">
                                <div class="text-base text-gray-500">
                                    <p class="text-yellow-600">月曜日～金曜日　午前10時～午後7時</p>
                                    <p class="text-blue-600">日曜日、祝日　午前10時～午後6時</p>
                                    <p class="text-red-600">土曜日 定休日</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-[380px]">
                        <h2 class="text-xl text-gray-800 sm:text-2xl">カスタマーサポート</h2>
                        <div class="mt-4">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <svg class="h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                                        ></path>
                                    </svg>
                                </div>
                                <div class="ml-3 text-base text-gray-500">
                                    <p>TEL: 03-5937-6321</p>
                                    <p class="mt-1">FAX: 03-5937-6320</p>
                                </div>
                            </div>
                            <div class="mt-6 flex">
                                <div class="flex-shrink-0">
                                    <svg class="h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                                    </svg>
                                </div>
                                <div class="ml-3 text-base text-gray-500"><p>support@qsremit.net</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
