<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/terms-layout}">
<head>
    <title>Policy Against Anti-social Forces</title>
</head>
<body>
<div layout:fragment="terms-content">
    <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
        <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
            <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
                <defs>
                    <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                    </pattern>
                </defs>
                <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)"></rect>
            </svg>
            <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
                <defs>
                    <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                    </pattern>
                </defs>
                <rect width="300" height="250" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)"></rect>
            </svg>
            <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
                <defs>
                    <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                    </pattern>
                </defs>
                <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)"></rect>
            </svg>
        </div>
    </div>
    <h1><span class="mt-2 text-3xl leading-8 font-semibold tracking-tight text-primary sm:text-4xl">反社会的勢力に対する基本方針</span></h1>
    <p class="mt-6 text-xl text-gray-500 leading-8">当社は、「コンプライアンスに係る基本的方針等に関する規程」第２条において、反社会的勢力からの企業防衛に関する基本的な姿勢を制定しております。</p>
        <p class="mt-6 text-xl text-gray-500 leading-8 border border-gray-200 rounded-lg px-4 py-3">
          <strong>反社会的勢力からの企業防衛</strong><br />
          市民社会の秩序や安全に脅威を与える反社会的勢力とは、毅然とした態度で対決する姿勢を貫き、企業価値を守る。
        </p>
        <p class="mt-6 text-xl text-gray-500 leading-8">当社は、この規範を実現するために、「反社会的勢力への対応に関する基本方針」を下記のとおり、宣言いたします。</p>
        <ol class="list-decimal text-gray-500 mt-4 ml-5">
          <li>反社会的勢力による不当要求は、代表取締役以下、組織全体で対応します。</li>
          <li>反社会的勢力による不当要求に対応する従業員の安全を確保します。</li>
          <li>反社会的勢力による不当要求に備えて、平素から外部の専門機関と緊密な連携関係を構築します。</li>
          <li>反社会的勢力とは、取引関係を含めて、一切の関係を持ちません。また、反社会的勢力による不当要求は拒絶します。</li>
          <li>反社会的勢力による不当要求に対しては、民事と刑事の両面から法的対応を行います。</li>
          <li>反社会的勢力による不当要求が、事業活動上の不祥事や従業員の不祥事を理由とする場合であっても、事案を隠ぺいするための裏取引を絶対行いません。 反社会的勢力への資金提供は、絶対に行いません。</li>
        </ol>
    <div class="w-full py-16 px-4 sm:px-6 lg:px-8 md:mt-16">
        <div class="flex items-start justify-between gap-20">
            <div class="max-w-[350px]">
                <h2 class="text-xl text-gray-800 sm:text-2xl">本店</h2>
                <div class="mt-3">
                    <p class="text-lg text-gray-500">
                        〒169-0073東京都新宿区百人町2-20-2-201<br />
                        <span class="text-sm">
                            201-2-20-2 Hyakunin-Cho, Shinjuku-Ku<br />
                            Tokyo, Japan (169-0073)
                        </span>
                    </p>
                </div>
                <div class="mt-4">
                    <div class="flex">
                        <div class="text-base text-gray-500">
                            <p class="text-yellow-600">月曜日～金曜日　午前10時～午後7時</p>
                            <p class="text-blue-600">日曜日、祝日　午前10時～午後6時</p>
                            <p class="text-red-600">土曜日 定休日</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-[380px]">
                <h2 class="text-xl text-gray-800 sm:text-2xl">カスタマーサポート</h2>
                <div class="mt-4">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            <svg class="h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                                ></path>
                            </svg>
                        </div>
                        <div class="ml-3 text-base text-gray-500">
                            <p>TEL: 03-5937-6321</p>
                            <p class="mt-1">FAX: 03-5937-6320</p>
                        </div>
                    </div>
                    <div class="mt-6 flex">
                        <div class="flex-shrink-0">
                            <svg class="h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                            </svg>
                        </div>
                        <div class="ml-3 text-base text-gray-500"><p>support@qsremit.net</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>