<div class="py-16">
    <div class="max-w-7xl mx-auto lg:flex lg:items-center lg:justify-between">
        <h2 class="text-2xl tracking-tight text-primary md:text-3xl"><span class="block">Looking for one of our branch?</span>
        </h2>
        <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
            <div class="inline-flex rounded-md shadow">
                <a class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-primary hover:bg-yellow-600"
                   href="/en/Branches">
                    See all branch offices
                </a>
            </div>
        </div>
    </div>
</div>