<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="text-md-end footer-links d-none d-sm-block">
					<script>document.write(new Date().getFullYear())</script> © N&P JAPAN
				</div>
			</div>
			<div class="col-md-4">
				<div class="text-md-start footer-links d-none d-sm-block">
					Version: <span th:text="${@environment.getProperty('app.version')}"></span>
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>
</footer>