<header id="header">
    <div class="navbar-custom top-nav-menu d-flex justify-content-between align-items-center">
        <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
            <li>
                <button class="button-menu-mobile waves-effect waves-light">
                    <i class="fe-menu"></i>
                </button>
            </li>
        </ul>
        <ul class="list-unstyled topnav-menu pe-3 mb-0 d-flex flex-column">
            <div class="d-flex align-items-center">
                <li class="pe-3">
                    <a href="#" class="text-white" id="userName">
                    </a>
                </li>
                <li>
                    <a id="logoutButton" href="#" class="text-white">Logout</a>
                </li>
            </div>
            <li>
                <a href="#" class="text-white" id="userLog"></a>
            </li>
        </ul>
    </div>
    <div class="tabs-container">
        <ul id="tabs" class="page-tabs nav nav-tabs"></ul>
        <button class="remove-all-tabs btn btn-secondary">
            <i class="fe-trash-2"></i>
        </button>
    </div>
</header>