<!DOCTYPE html>
<html lang="en" data-topbar-color="brand">
<head>
    <meta charset="utf-8"/>
    <title>Error Page | N&P JAPAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- App favicon -->
    <link rel="shortcut icon" href="nnp/images/favicon.ico">

    <!-- App css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />
    <link href="/nnp/css/nnpCustom.css" rel="stylesheet" type="text/css" />

    <!-- icons -->
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css"/>

    <!-- Theme Config Js -->
    <script src="/js/config.js"></script>
</head>

<body>

<div class="account-pages my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card">

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <div class="auth-logo" style="background-color: #fff">
                                <a class="logo text-center">
                                            <span class="logo-lg">
                                                <img src="/nnp/images/QSRemit-Logo.png" alt="" height="60">
                                            </span>
                                </a>
                            </div>
                        </div>

                        <div class="text-center">
                            <h3 class="mt-4 text-uppercase fw-bold">error!</h3>
                            <p class="text-muted mb-0 mt-3" style="line-height: 20px;">Something went wrong. Please try again later.</p>

                            <div class="d-grid mb-0 mt-3 text-center">
                                <button onclick="location.href='/'"
                                        class="btn btn-primary"><i class="mdi mdi-reply me-1"></i> Return Home </button>
                            </div>
                        </div>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
    <script>document.write(new Date().getFullYear())</script> &copy; N&P JAPAN
</footer>

<!-- Vendor js -->
<script src="/js/vendor.min.js"></script>

<!-- App js -->
<script src="/js/app.min.js"></script>

</body>
</html>