<!DOCTYPE html>
<html lang="en" data-topbar-color="brand">
    <head>
        <meta charset="utf-8" />
        <title>Log In | N&P JAPAN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico">

        <!-- App css -->
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />
        <link href="/nnp/css/nnpCustom.css" rel="stylesheet" type="text/css" />

		<!-- icons -->
		<link href="/css/icons.min.css" rel="stylesheet" type="text/css" />

		<!-- Theme Config Js -->
		<script src="/js/config.js"></script>
    </head>

    <body class="loading">

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <div class="card">

                            <div class="card-body p-4">
                                
                                <div class="text-center w-75 m-auto">
                                    <div class="auth-logo" style="background-color: #fff">
                                        <a href="index.html" class="logo text-center">
                                            <span class="logo-lg">
                                                <img src="nnp/images/QSRemit-Logo.png" alt="" height="60">
                                            </span>
                                        </a>                    
                                    </div>
                                    <p class="text-muted mb-4 mt-3">Enter your ID and Password</p>
                                </div>

                                <form id="loginForm">
                                    <div class="mb-2">
                                        <label for="id" class="form-label">ID</label>
                                        <input class="form-control" id="id" name="id" required="" placeholder="Enter your id">
                                    </div>

                                    <div class="mb-2">
                                        <label for="password" class="form-label">Password</label>
                                        <div class="input-group input-group-merge">
                                            <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password">
                                            
                                            <div class="input-group-text" data-password="false">
                                                <span class="password-eye"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="checkbox-signin" checked>
                                            <label class="form-check-label" for="checkbox-signin">
                                                Remember me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="d-grid mb-0 text-center">
                                        <button id="loginButton" class="btn btn-primary" type="submit"> Log In </button>
                                    </div>

                                </form>

                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->
                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p class="text-muted">Forgot your password? <a href="/reset" class="text-primary fw-medium ms-1">Password Reset</a></p>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        <footer class="footer footer-alt">
            <script>document.write(new Date().getFullYear())</script> &copy; N&P JAPAN
        </footer>

        <!-- Vendor js -->
        <script src="/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="/js/app.min.js"></script>
        <script src="/nnp/js/userLogin.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js"></script>
    </body>
</html>