<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/terms-layout}">
<head>
    <!--    기존 CSS    -->
    <link href="/css/styles.css" rel="stylesheet"/>
    <title>QSRemit - About us</title>
    <style>
        body {
            font-family: 'Paperozi', sans-serif;
        }
    </style>
</head>
<body>
<div layout:fragment="terms-content">
    <div class="relative pb-16 bg-white overflow-hidden">
        <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
            <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
                <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none"
                     viewBox="0 0 404 384">
                    <defs>
                        <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20"
                                 patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)"></rect>
                </svg>
                <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404"
                     height="384" fill="none" viewBox="0 0 404 384">
                    <defs>
                        <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20"
                                 patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)"></rect>
                </svg>
                <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none"
                     viewBox="0 0 404 384">
                    <defs>
                        <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20"
                                 patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)"></rect>
                </svg>
            </div>
        </div>
        <div class="relative px-4 sm:px-6 lg:px-8">
            <div class="text-lg max-w-prose mx-auto">
                <h1><span class="mt-2 text-3xl leading-8 font-semibold tracking-tight text-primary sm:text-4xl">About QSRemit</span>
                </h1>
                <div class="bg-white shadow overflow-hidden sm:rounded-lg mt-8 sm:mt-12">
                    <div class="px-4 py-5 bg-primary sm:px-6">
                        <h3 class="text-lg leading-6 font-medium text-white">회사 안내</h3>
                        <p class="mt-1 max-w-2xl text-sm text-yellow-100">QSRemit Korea</p>
                    </div>
                    <div class="border-t border-gray-200">
                        <dl>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-900">
                                    <p>회사 이름</p>
                                    <p>Company Name</p>
                                </dt>
                                <dd class="mt-1 text-sm text-gray-700 sm:mt-0 sm:col-span-2">
                                    <p>(주)엔앤피코리아</p>
                                    <p>NNP KOREA Co., Ltd.</p>
                                </dd>
                            </div>
                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-900">
                                    <p>본점</p>
                                    <p>Head office</p>
                                </dt>
                                <dd class="mt-1 text-sm text-gray-700 sm:mt-0 sm:col-span-2">
                                    <p>03106 서울특별시 종로구 종로305-2 대산빌딩2층</p>
                                    <p>03106 DAESAN Bldg 2F Jongro305-2 Jongro-Gu Seoul, Korea</p>
                                    <p class="mt-2">TEL: 02-755-6321</p>
                                    <p>FAX: 02-755-6320</p>
                                    <p>support@qsremit.net</p>
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-900">
                                    <p>서비스</p>
                                    <p>Service</p>
                                </dt>
                                <dd class="mt-1 text-sm text-gray-700 sm:mt-0 sm:col-span-2">
                                    <p>국제 송금 서비스</p>
                                    <p class="text-xs">(소액해외송금업 등록번호 2017-10호)</p>
                                    <p>International Money Transfer</p>
                                    <p class="text-xs">(License Number 2017-10)</p>
                                </dd>
                            </div>
                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-900">
                                    <p>설립</p>
                                    <p>Established</p>
                                </dt>
                                <dd class="mt-1 text-sm text-gray-700 sm:mt-0 sm:col-span-2">
                                    <p>2016년 2월 19일</p>
                                    <p>19<sup>th</sup> February, 2016</p>
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-900">
                                    <p>자본금</p>
                                    <p>Capital</p>
                                </dt>
                                <dd class="mt-1 text-sm text-gray-700 sm:mt-0 sm:col-span-2">
                                    <p>1,500,000,000원</p>
                                    <p>KRW 1,500,000,000</p>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
                <h2 class="mt-14"><span
                        class="mt-2 block text-2xl leading-8 font-semibold tracking-tight text-gray-900 sm:text-3xl">Message from CEO</span>
                </h2>
                <p class="mt-6 text-primary leading-8 text-2xl font-medium">고객의 신뢰에 건실하게 응답하는 해외송금 전문회사</p>
                <p class="mt-4 text-gray-500 leading-8">
                    2017 년 11월에 2017-10호로 기획재정부에 정식으로 등록된 해외송금 전문 회사입니다.<br/>
                    고객의 신뢰와 응원에 힘입어 여기까지 성장하였습니다.<br/>
                    경험이 풍부한 임직원과 함께 고객 여러분의 만족과 안심을 얻을 수있는 해외 송금 서비스로 만들어 가겠습니다.<br/>
                    계속해서 고객 여러분의 응원을 부탁드립니다.<br/>
                </p>
                <div class="mt-16">
                    <div class="max-w-7xl mx-auto py-12 lg:flex lg:items-center lg:justify-between">
                        <h2 class="text-2xl tracking-tight text-primary md:text-3xl"><span class="block">가까운 지점을 찾고 계십니까?</span>
                        </h2>
                        <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
                            <div class="inline-flex rounded-md shadow">
                                <a class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-primary hover:bg-yellow-600"
                                   href="/kr/Branches">
                                    지점안내
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="${'fragments/kr/terms-support'}"></div>
</div>
</body>
</html>
