<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/terms-layout}">
<head>
    <title>QSRemit - Notice</title>
    <style>
        body {
            font-family: 'Paperozi', sans-serif;
        }
    </style>
</head>
<body>
<div layout:fragment="terms-content">
    <div class="relative pb-16 bg-white overflow-hidden">
        <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
            <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
                <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none"
                     viewBox="0 0 404 384">
                    <defs>
                        <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20"
                                 patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)"></rect>
                </svg>
                <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404"
                     height="384" fill="none" viewBox="0 0 404 384">
                    <defs>
                        <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20"
                                 patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)"></rect>
                </svg>
                <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none"
                     viewBox="0 0 404 384">
                    <defs>
                        <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20"
                                 patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)"></rect>
                </svg>
            </div>
        </div>
        <div class="relative px-4 sm:px-6 lg:px-8">
            <div class="text-lg max-w-prose mx-auto">
                <h1 class=""><span
                        class="mt-2 text-3xl leading-8 font-semibold tracking-tight text-primary sm:text-4xl">공지사항</span>
                </h1>
                <!-- image 만들기              -->
                <div
                        id="notice-container"
                        class="grid py-8"
                        style="grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); gap: 10px;"
                >
                    <div>
                        <img src="/qs-noImage.png" alt="qs-noimage">
                        <div class="p-4">
                            <h4 class="text-xl leading-8 font-semibold tracking-tight text-gray-900">
                                공지사항 제목</h4>
                            <div class="flex items-center justify-between align-items-center mt-4">
                                <span class="text-gray-400 text-sm">2026-01-05</span>
                                <span class="bg-primary-orange rounded-md px-4 py-2 text-white text-sm">Details</span>
                            </div>
                        </div>
                    </div><div>
                    <img src="/qs-noImage.png" alt="qs-noimage">
                    <div class="p-4">
                        <h4 class="text-xl leading-8 font-semibold tracking-tight text-gray-900">
                            공지사항 제목</h4>
                        <div class="flex items-center justify-between align-items-center mt-4">
                            <span class="text-gray-400 text-sm">2026-01-05</span>
                            <span class="bg-primary-orange rounded-md px-4 py-2 text-white text-sm">Details</span>
                        </div>
                    </div>
                </div><div>
                    <img src="/qs-noImage.png" alt="qs-noimage">
                    <div class="p-4">
                        <h4 class="text-xl leading-8 font-semibold tracking-tight text-gray-900">
                            공지사항 제목</h4>
                        <div class="flex items-center justify-between align-items-center mt-4">
                            <span class="text-gray-400 text-sm">2026-01-05</span>
                            <span class="bg-primary-orange rounded-md px-4 py-2 text-white text-sm">Details</span>
                        </div>
                    </div>
                </div><div>
                    <img src="/qs-noImage.png" alt="qs-noimage">
                    <div class="p-4">
                        <h4 class="text-xl leading-8 font-semibold tracking-tight text-gray-900">
                            공지사항 제목</h4>
                        <div class="flex items-center justify-between align-items-center mt-4">
                            <span class="text-gray-400 text-sm">2026-01-05</span>
                            <span class="bg-primary-orange rounded-md px-4 py-2 text-white text-sm">Details</span>
                        </div>
                    </div>
                </div><div>
                    <img src="/qs-noImage.png" alt="qs-noimage">
                    <div class="p-4">
                        <h4 class="text-xl leading-8 font-semibold tracking-tight text-gray-900">
                            공지사항 제목</h4>
                        <div class="flex items-center justify-between align-items-center mt-4">
                            <span class="text-gray-400 text-sm">2026-01-05</span>
                            <span class="bg-primary-orange rounded-md px-4 py-2 text-white text-sm">Details</span>
                        </div>
                    </div>
                </div><div>
                    <img src="/qs-noImage.png" alt="qs-noimage">
                    <div class="p-4">
                        <h4 class="text-xl leading-8 font-semibold tracking-tight text-gray-900">
                            공지사항 제목</h4>
                        <div class="flex items-center justify-between align-items-center mt-4">
                            <span class="text-gray-400 text-sm">2026-01-05</span>
                            <span class="bg-primary-orange rounded-md px-4 py-2 text-white text-sm">Details</span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div th:replace="${'fragments/kr/branch-support'}"></div>
        </div>
    </div>
    <div th:replace="${'fragments/kr/terms-support'}"></div>
</div>

</body>
</html>
