<div id="con-close-modal" class="change-password-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="viewMoreContent" class="modal-body p-4 overflow-auto">
            	<h4>Password Rules</h4>
				<ul>
					<li>At least 14 characters in length.</li>
					<li>Contain at least one numeric character.</li>
					<li>Contain at least one special character (e.g. !@#$%^&*).</li>
					<li>Not contain more than 3 consecutive number. (eg.123)</li>
				</ul>
				<div class="show-error-message">
					<label class="table-light col-md-4" for="newPassword">New Password</label>
					<input type="password"  parsley-trigger="keyup" required
						data-parsley-minlength="14"
					    data-parsley-pattern='^(?=.*[!@#$%^&*(),.?:{}|<>])(?=.*\d).*$'
						data-parsley-custom
						class="form-control" id="newPassword"
					    data-parsley-required-message="Password is required."
					    data-parsley-pattern-message="Password must include at least one number and one special character."
					    data-parsley-minlength-message="Password must be at least 14 characters long."
					    data-parsley-custom-message="Password must not contain 3 or more consecutive numbers.">
				</div>
				<div class="pt-2 show-error-message">
					<label class="table-light" for="confirmNewPassword">Confirm New Password</label>
					<input
						data-parsley-equalto="#newPassword"
						required  parsley-trigger="keyup"
						type="password"
						class="form-control"
						data-parsley-required-message="Please confirm your password."
						data-parsley-equalto-message="Passwords do not match."
						id="confirmNewPassword">
				</div>
				<div class="pt-2">
					<label class="table-light" for="confirmNewPassword">Current Password</label>
					<input
						required  parsley-trigger="keyup"
						type="password"
						class="form-control"
						id="confirmCurrentPassword"
						data-parsley-required-message="Password is required.">
					<p class="pt-1">Please enter your current password to verify your identity.</p>
				</div>
	            <div class="modal-footer">
	                <button id="closeButton" type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
	                <button id="changePasswordButton" type="button"  class="btn btn-primary waves-effect">Change Password</button>
	            </div>
            </div>
        </div>
    </div>
</div><!-- /.modal -->