<div class="content-page">
  <div class="content">
    <!-- Start Content-->
    <div class="container-fluid">
      <!-- Start Page title -->
      <div th:replace="~{fragments/title}"></div>
      <!-- End page title -->
      <!-- Start Filter -->
      <div class="card">
        <div class="card-body">
          <form>

            <div class="d-flex flex-wrap align-items-center justify-content-between">

              <div class="row col-xl-12 d-flex flex-wrap align-items-center">
                <!--Status-->
                <label for="statusSelect" class="col-md-1">Status</label>
                <div class="col-md-4">
                  <select class="form-select" id="statusSelect">
                    <option value="">All</option>
                    <option value="ACTIVE">ACTIVE</option>
                    <option value="LOCKED">LOCKED</option>
                  </select>
                </div>
                <!--Search By-->
                <label for="columnSelect" class="col-md-1">Search By</label>
                <div class="d-flex col-md-6">
                  <select class="form-select" id="columnSelect">
                    <option value="bankName">Bank Name</option>
                    <option value="accountNo">Account Number</option>
                    <option value="holderName">Holder Name</option>
                    <option value="reason">Reason</option>
                    <option value="receiver">Receiver</option>
                    <option value="companyName">Company Name</option>
                  </select>
                  <div class="col-7">
                    <input class="form-control" type="text" name="searchText" id="searchText">
                    <input hidden="hidden" name="bankNameInput" id="bankNameInput">
                    <select class="form-select" id="bankNameSelectSearch">
                      <option value=""></option>
                    </select>
                    <input hidden="hidden" name="reasonInput" id="reasonInput">
                    <select class="form-select" id="reasonSelect">
                      <option value=""></option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
            <div class="text-center mt-sm-3">
              <button id="searchBtn" type="button" class="btn btn-dark width-xl">Search</button>
            </div>
          </form>
        </div>
      </div>
      <!-- End Filter -->
      <!-- Start Table Section-->
      <div class="card">
        <div class="card-body">
          <div class="mb-3 d-flex flex-wrap justify-content-end gap-2">
            <a href="/pgManagement/newECCustomerManagement" class="btn btn-outline-primary width-xl">New EC Customer</a>
          </div>
          <div class="flex justify-content-end">
          </div>
          <input hidden="hidden" id="tablePageInput" type="number" value="">
          <table id="ECCustomerManagementTable" class="display table table-bordered table-hover table-centered m-0">
          </table>
        </div>
      </div>
      <!-- End Table Section-->
    </div>
    <!-- End Content -->
  </div>
  <!-- Footer Start -->
  <div th:replace="~{fragments/footer}"></div>
  <!-- End Footer -->
</div>