<div class="content-page">
  <div class="content">
    <!-- Start Content-->
    <div class="container-fluid">
      <!-- Start Page title -->
      <div th:replace="~{fragments/title}"></div>
      <!-- End page title -->
      <!-- Start Section -->
      <div class="card">
        <div class="card-body">
          <form
            method="post"
            class="form-horizontal"
            data-parsley-validate="data-parsley-validate"
            role="form">
            <fieldset class="mb-3 border-bottom">
              <div class="mb-2 d-flex align-items-center">
                <label class="col-md-2 col-form-label" for="holderName">Holder name<span class="text-danger ms-1">*</span></label>
                <div class="col-md-4">
                  <input required id="holderName" name="holderName" data-parsley-trigger="change" type="text" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="bankName" class="col-md-2 col-form-label">Bank Name<span class="text-danger ms-1">*</span></label>
                <div class="col-md-4 pe-0">
                  <input type="hidden" id="bankNameInput" name="bankNameInput" />
                  <select required name="bankName" id="bankName" data-parsley-trigger="change" type="text" class="form-select"></select>
                </div>
                <label for="accountNo" class="col-md-2 col-form-label">Account number<span class="text-danger">*</span></label>
                <div class="col-md-4">
                  <input required id="accountNo"
                         data-parsley-type="digits"
                         data-parsley-pattern="^\d+$"
                         data-parsley-trigger="keyup" name="accountNo" type="text" class="form-control" placeholder="Input Only Number">
                </div>
              </div>
            </fieldset>
            <fieldset class="mb-3">
              <h4 class="header-title py-2">GME Information</h4>
              <div class="mb-1 d-flex align-items-center">
                <label class="col-md-2 col-form-label">Sender type</label>
                <span name="senderType">Company</span>
              </div>
              <div class="mb-2 d-flex align-items-center">
                <label for="gmeTypeB2B" class="col-md-2 col-form-label">Type<span class="text-danger ms-1">*</span></label>
                <div class="form-radio pe-2">
                  <input
                    id="gmeTypeB2B"
                    name="gmeType"
                    class="form-check-input"
                    type="radio"
                    value="B2B">
                  <label class="form-check-label">B2B</label>
                </div>
                <div class="form-radio pe-2">
                  <input
                      id="gmeTypeB2C"
                      name="gmeType"
                      class="form-check-input"
                      type="radio"
                      value="B2C" checked>
                  <label class="form-check-label">B2C</label>
                </div>
                <div class="form-radio">
                  <input
                    id="gmeTypeC2B"
                    name="gmeType"
                    class="form-check-input"
                    type="radio"
                    value="C2B">
                  <label class="form-check-label">C2B</label>
                </div>
              </div>
              <div class="row mb-3">
                <label for="reasonSelect" class="col-md-2 col-form-label">Reason<span class="text-danger ms-1">*</span></label>
                <div class="col-md-4">
                  <input id="reasonInput" type="hidden">
                  <select required name="reason" id="reasonSelect" data-parsley-trigger="keyup" class="form-select">
                  </select>
                </div>
                <label for="receiver" class="col-md-1 col-form-label">Receiver<span class="text-danger ms-1">*</span></label>
                <div class="col-md-5">
                  <input required id="receiver" name="receiver" data-parsley-trigger="change" type="text" class="form-control">
                </div>
              </div>
              <div class="mb-2 d-flex align-items-center">
                <label class="col-md-2 col-form-label">Receiver type</label>
                <span name="receiverType">Company</span>
              </div>
              <div class="row mb-3">
                <label for="companyName" class="col-md-2 col-form-label">Company Name<span class="text-danger ms-1">*</span></label>
                <div class="col-md-4">
                  <input required id="companyName" name="companyName" data-parsley-trigger="change" type="text" class="form-control">
                </div>
                <label for="address" class="col-md-1 col-form-label">Address<span class="text-danger ms-1">*</span></label>
                <div class="col-md-5">
                  <input required id="address" name="address" data-parsley-trigger="change" type="text" class="form-control">
                </div>
              </div>
            </fieldset>
            <div class="text-center">
              <a
                href="/pgManagement/ECCustomerManagement"
                type="button"
                class="btn btn-outline-primary width-xl">Cancel</a>
              <button type="submit" class="btn btn-primary width-xl">Save</button>
            </div>
          </form>
        </div>
      </div>
      <!-- End Section-->
    </div>
    <!-- End Container -->
  </div>
  <!-- End Content -->
  <!-- Footer Start -->
  <div th:replace="~{fragments/footer}"></div>
  <!-- End Footer -->
</div>
