<div id="accountDepositAddressChange" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xxl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle" class="modal-title">Save Address</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4 overflow-auto" style="height: 70vh;">
                <form>
                    <!-- Start Table Section-->
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-start mb-2">
                                <h5>The red-highlighted rows mean that the address in the Excel file is different from the one already saved.</h5>
                            </div>
                            <table id="accountDepositAddressTable" class="display table table-bordered table-hover table-centered m-0">
                                <thead class="table-light">
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Table Section-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn changeAddressBtn btn-outline-primary waves-effect" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->